<%- include('partials/header') %>



    <div class=" p-5">
        <!-- <input type="file" onchange="previewFile()" multiple>
        <br>
        <br>

        <img src="" height="350" alt="Image preview..."> -->

        <label for='files'>Select multiple files: </label>
        <input id='files' type='file' multiple />
        <output id='result' height="350" width="50" />
    </div>
    <div class=" jic py-3 shadow  ">
        <table>
            <thead>
                <th>Size</th>
                <th>Length(cm)</th>
                <th>Width(cm)</th>
                <th>Cost(Rupees)</th>
                <th>Quantity</th>
            </thead>
            <% data.forEach(ele=> {%>
                <tr>
                    <td>
                        <%= ele.size %>
                    </td>
                    <td>
                        <%= ele.length %>
                    </td>
                    <td>
                        <%= ele.width %>
                    </td>
                    <td>
                        <%= ele.cost %>
                    </td>
                    <td>
                        <input type="number" name="<%=ele.cost %>" class="size" onChange="calc()">
                    </td>
                </tr>

                <%})%>
        </table>
    </div>

    </div>
    <h2 class="m-5 p-5 shadow-lg">Total Cost : <span id="tot_cost"></span> </h2>
    <div class="display-4 ">
        Order Below by giving Card Details
    </div>
    <div class="row m-5">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="/verify" method="post">
                <div class="form-group">
                    <label for="num">Card Number</label>
                    <input class="form-control" maxlength="20" required type="text" name="num">
                </div>
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input class="form-control" maxlength="20" required type="text" name="name">
                </div>

                <div class="form-group">
                    <label for="cvv">CVV of Card</label>
                    <input class="form-control" maxlength="20" required type="password" name="cvv">
                </div>

                <div class="form-group">
                    <label for="year">Year of Expire</label>
                    <input class="form-control" required type="text" name="year">
                </div>
                <div class="form-group">
                    <label for="cvv">Address</label>
                    <input class="form-control" maxlength="20" required type="text" name="addr">
                </div>
                <input type="hidden" name="date">
                <input type="hidden" name="cost" id="cost">
                <input type="hidden" name="time">
                <button type="submit" class="btn btn-warning">Verify Details</button>
            </form>

        </div>
        <div class="col-3"></div>
    </div>


    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addCard">
        Add Card details
    </button>
    <form action="/addCard" method="post">
        <div class="modal fade" id="addCard" tabindex="-1" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Add Person Card Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="num">Card Number</label>
                            <input class="form-control" maxlength="20" required type="text" name="num">
                        </div>
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input class="form-control" maxlength="20" required type="text" name="name">
                        </div>

                        <div class="form-group">
                            <label for="cvv">CVV of Card</label>
                            <input class="form-control" maxlength="20" required type="password" name="cvv">
                        </div>

                        <div class="form-group">
                            <label for="year">Year of Expire</label>
                            <input class="form-control" required type="text" name="year">
                        </div>
                        <div class="form-group">
                            <label for="pincode">Pincode</label>
                            <input class="form-control" required type="text" name="pincode">
                        </div>
                        <div class="form-group">
                            <label for="email">Email id</label>
                            <input class="form-control" required type="text" name="email">
                        </div>

                        <div class="form-group">
                            <label for="temp">Any othe feild</label>
                            <input class="form-control" required type="text" name="ddd">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addPrice">
        Add Size details
    </button>
    <form action="/addPrice" method="post">
        <div class="modal fade" id="addPrice" tabindex="-1" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Add Size Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="num">Size Name</label>
                            <input class="form-control" maxlength="20" required type="text" name="num">
                        </div>
                        <div class="form-group">
                            <label for="name">length</label>
                            <input class="form-control" maxlength="20" required type="text" name="name">
                        </div>

                        <div class="form-group">
                            <label for="cvv">width</label>
                            <input class="form-control" maxlength="20" required type="text" name="cvv">
                        </div>

                        <div class="form-group">
                            <label for="year">Cost</label>
                            <input class="form-control" required type="text" name="year">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <%- include('partials/footer') %>